/* Mobile First */
/* photo hotel */
.hotel {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

/* image logo */
.logoEvent {
    margin-left: 10px;
    z-index: 10;
    position: absolute;
    top: 7%;
    left: 5px;
}

/* menu burger */


/* TEST */
/* .navbar {
    position: relative;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1em;
} */

.logo {
    font-size: 1.5em;
}

.menu-checkbox {
    display: none;
}

/* icone burger */
.menu-icon {
    cursor: pointer;
}

/* menu navigation mobile */
.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    background-color: #13ab3ccb;
    list-style: none;
    margin: 0;
    padding: 30px;
    text-align: right;
}

/* .nav-links li {
    padding: 10px;
    text-align: center;
    border-top: #359612 1px solid;
} */

a {
    text-decoration: none !important;
    color: black !important;
    font-family: avangarde, helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 0.5em;
}


/* fond overlay */
.overlay {
    position: fixed;
}

/* menu actif */
.menu-checkbox:checked~.overlay {
    display: block;
}

.menu-checkbox:checked~.nav-links {
    display: flex;
}

/* min-width ??px */

@media (min-width: 768px) {

    /* .menu-checkbox {
        display: none;
    } */
    .menu-icon {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
        gap: 2em;
        z-index: auto;
    }

    .nav-links li {
        border-top: none;
    }

    /* .nav-links li a {
        padding: 0.5em 1em;
    }

    .overlay {
        display: none;
    } */
}

/* FIN DE TEST */








/* titre d'accueil */
.titleAccueil {
    font-size: 0.6rem;
    font-family: avangarde, helvetica, sans-serif;
}

/* paragraphe */
.welcomeAccueil {
    font-size: 1rem;
    font-family: avangarde, helvetica, sans-serif;
    background-color: #c0d9b88a;
    padding: 2px;
    text-align: center;
    margin: 10px;
    width: 100%;
}

/* tous les sous titres */
.subtitleAccueil {
    font-size: 0.7rem;
    font-family: avangarde, helvetica, sans-serif;
    text-align: center;
}

/* descriptions des sous titres */
.vieAccueil {
    background-color: #c0d9b88a;
    padding: 2px;
    text-align: left;
    font-size: 1rem;
    font-family: avangarde, helvetica, sans-serif;
    margin: 10px;
    width: 100%;
}

/* Adresse */
adresse {
    font-family: avangarde, helvetica, sans-serif;
    font-size: 0.7rem;
    font-style: none;
}

/* copyright */
.footer {
    bottom: 0;
    width: 100%;
}

/* page activités */
.titleActivites {
    font-size: 0.45rem;
    font-family: avangarde, helvetica, sans-serif;
    text-align: center;
    width: 90%;
    color: #14310A;
}

/* photo en colonne */
.activites-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
}

.activite {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #f0f5f1;
    padding: 5px;
}

/* Taille image */
.activite img {
    width: 72px;
    height: 66px;
}

.activite p {
    font-family: avangarde, helvetica, sans-serif;
    font-size: 0.85rem;
    margin: 0;
    color: #14310A;
}

/* contact */
.InfoContact {
    font-family: avangarde, helvetica, sans-serif;
    background-color: #c0d9b88a;
    padding: 0px 5px 0px 5px;
    align-items: center;
}

/* formulaire */
.formContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #c0d9b88a;
    border-radius: 10px;
    width: 70%;
    height: 200px;
    margin: 10px;
    border: #14310A 1px solid;
}

.formContact input,
.formContact textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #14310A;
    font-family: avangarde, helvetica, sans-serif;
    box-shadow: #14310A;
}

.button {
    background-color: #277a0bb1;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.button:hover {
    background-color: #359612;
}

.button::before {
    content: "";
    font-family: avangarde, helvetica, sans-serif;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
}

.button ::after {
    content: "Done";
    display: block;
    text-align: center;
    padding: 10px;
}

/*bas-page contact */
.accessContact {
    bottom: 0;
    width: 100%;
    height: auto;
}