/* photo hotel */
.hotel {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

/* image logo */
.logo {
    margin-left: 10px;
    z-index: 10;
    position: absolute;
    top: 7%;
    left: 5px;
}

/* menu burger */
.menuBurger {
    margin-right: 5px;
    width: auto;
    justify-self: end;
}
.menuBurger:active {
    color: black;
}

/* titre d'accueil */
.titleAccueil {
    font-size: 0.6rem;
    font-family: avangarde, helvetica, sans-serif;
}

/* paragraphe */
.welcomeAccueil {
    font-size: 1rem;
    font-family: avangarde, helvetica, sans-serif;
    background-color: #c0d9b88a;
    padding: 2px;
    text-align: center;
    margin: 10px;
    width: 100%;
}

/* tous les sous titres */
.subtitleAccueil {
    font-size: 0.7rem;
    font-family: avangarde, helvetica, sans-serif;
    text-align: center;
}

/* descriptions des sous titres */
.vieAccueil {
    background-color: #c0d9b88a;
    padding: 2px;
    text-align: left;
    font-size: 1rem;
    font-family: avangarde, helvetica, sans-serif;
    margin: 10px;
    width: 100%;
}

adresse {
    font-family: avangarde, helvetica, sans-serif;
    font-size: 0.7rem;
    font-style: none;
}

/* copyright */
.footer {
    bottom: 0;
    width: 100%;
}

/* page activités */
.titleActivites {
    font-size: 0.45rem;
    font-family: avangarde, helvetica, sans-serif;
    text-align: center;
    width: 90%;
    color: #14310A;
}

/* photo en colonne */
.activites-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
}

.activite {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #f0f5f1;
    padding: 5px;
}

.activite img {
    width: 72px;
    height: 66px;
}

.activite p {
    font-family: avangarde, helvetica, sans-serif;
    font-size: 0.85rem;
    margin: 0;
    color: #14310A;
}

/* contact */
.InfoContact {
    font-family: avangarde, helvetica, sans-serif;
    background-color: #c0d9b88a;
    padding: 0px 5px 0px 5px;
    align-items: center;
}

/* formulaire */
.formContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #c0d9b88a;
    border-radius: 10px;
    width: 70%;
    height: 200px;
    margin: 10px;
    border: #14310A 1px solid;
}

.formContact input,
.formContact textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #14310A;
    font-family: avangarde, helvetica, sans-serif;
    box-shadow: #14310A;
}

.button {
    background-color: #277a0bb1;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.button:hover {
    background-color: #359612;
}

.button::before {
    content: "";
    font-family: avangarde, helvetica, sans-serif;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
}

.button ::after {
    content: "Done";
    display: block;
    text-align: center;
    padding: 10px;
}

/*bas-page contact */
.accessContact{
    bottom: 0;
    width: 100%;
    height: auto;
    position: fixed;
}
